* {
  border: solid 1px #ff000000;
}

html { font-size: calc(1em + 1vw) }

:root {
  --marginHigh: 2% 0% 0% 0%;

  --marginLow: 13% 17% 0% 0%;
}

@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

@media only screen and (min-width: 114px) and (max-width: 768px) {
  h2 {
    font-size: 6.0vw;
  }

  h3 {
    font-size: 2.3vw;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  h2 {
    color: blue;
    font-size: 3.3vw;
  }

  h3 {
    font-size: 1vw;
  }
}

@media only screen and (min-width: 991px) and (max-width: 1500px) {
  h2 {
    color: yellow;
    font-size: 2.3vw;
  }

  h3 {
    font-size: 0.7vw;
  }
}

h1,
h4,
p,
button {
  font-family: "Lobster", cursive;
  color: #bd2130;
}

.background {
  background-color: #e9ecef;
  height: 100%;
  padding: 3%;
}

/* Title */
.title {
  margin-top: 10px;
  display: flex;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
}

.title p {
  font-family: "Lobster", cursive;
  margin-left: 10px;
}

/* BUTTON */
.button-row {
  display: flex;
  margin: 30px;
  justify-content: center;
}

.jumbotron-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(rgba(255, 255, 255), #dee2e65c),
    url("./components/Card//CardImage/welcometogamebackground.jpg");
  height: auto;
}
