* {
  border: solid 1px #ff000000;
}

:root {
  --marginHigh: 2% 0% 0% 0%;

  --marginLow: 13% 17% 0% 0%;
}

@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

@media only screen and (min-width: 114px) and (max-width: 768px) {
  h2 {
    font-size: 6.3vw;
  }

  h3 {
    font-size: 2.3vw;
  }
 
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  h2 {
    color: blue;
    font-size: 3.3vw;
  }

  h3 {
    font-size: 1vw;
  }
}

@media only screen and (min-width: 991px) and (max-width: 1500px) {
  h2 {
    color: yellow;
    font-size: 2.3vw;
  }

  h3 {
    font-size: 0.7vw;
  }


}

h1,
h4,
p,
button {
  font-family: "Lobster", cursive;
  color: #bd2130;
}

.background {
  background-color: #e9ecef;
  height: 100%;
 
  padding: 3%;
}

/* Title */
.title {
  margin-top: 10px;
  display: flex;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
}

.title p {
  font-family: "Lobster", cursive;
  margin-left: 10px;
}

/* BUTTON */
.button-row {
  display: flex;
  margin: 30px;
  justify-content: center;
}

/* MAIN DECK  CSS */

.card-container {
  position: relative;
}

.card-back {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 15px;
}

.col-md-6 {
    
    
    
    border-right: dotted 1px thistle;
}

.empty-card {
  border: 2px solid lightskyblue;
  border-radius: 5px;
  height: auto;
  width: 100%;
  object-fit: contain;
  opacity: 0.2
}

.number-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.deck-image {
  border-radius: 10px;
  background-image: url("./components/Card//CardImage/WelcomeToCardSampleBack.jpg");
  background-size: contain;
  height: auto;

  margin-bottom: 10px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
}

/* MAIN DECK HIGH */
.deck-number-high {
  margin: 1% 6%;
  height: 25%;
  padding: 11%;
}

.deck-number-high h3 {
  font-weight: 200;

  color: whitesmoke;
}

/* MAIN DECK CENTER */

.deck-number-center {
  height: 49%;
}

.deck-number-center > h2 {
  margin: 21% 4% 0% 0%;
  color: black;

  font-weight: 400;
  text-align: center;
}

.deck-number-c-double {
  margin-top: 10px;
}

.deck-number-c-double h2 {
  margin: 0% 1% -0% 0%;
  text-align: center;
  color: black;
  font-weight: 400;
}

/* MAIN DECK LOW */
.deck-number-low {
  height: 25%;
  display: flex;
  justify-content: flex-end;
}

.deck-number-low h3 {
  margin: var(--marginLow);
  font-weight: 200;

  color: whitesmoke;
}

/*  CARD  IMAGE CSS */
.card {
  border-radius: 10px;
  
  margin: 30px 0 30px 0;
}

.container4 {
  width: 100%;
  height: 100px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: 10px;
  justify-content: center
}

.col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 24.333333%;
}



/*  CARD  IMAGE CSS */
.fillable-pdf {
  resize: vertical;
  overflow: auto;
  height: 60vh;
}

embed {
  display: block;
  width: 100%;
  height: 30em;
  height: 100%;
}

/* NAV BAR*/
.nav-item {
  margin-right: 15px;
}

.nav-tabs, h2,
a {
  align-items: center;
  font-family: "Lobster", cursive;
  color: #bd2130;
}


.jumbotron-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image:     linear-gradient(rgba(255, 255, 255, 0.5), rgba(0,0,0,0.5)), 
 url("./components/Card//CardImage/welcometoslider.jpg");
  height: 100vh;
}



